<% provide(:title, 'Dashboard') %>
<div class="center">
  <h1>Welcome <%= current_user.username %></h1>
  <div class="panel panel-default">
    <div class="panel-heading">Brewing Near You!</div>
    <div class="panel-body">
      <p>This is some filler text..closest 250 users listed</p>
    </div>
    <table class="table table-striped">
      <tr>
        <th>Username</th>
        <th>Distance (miles)</th>
        <th>What's Brewing</th>
      </tr>
      <% if @nearby != nil %>
        <% @nearby.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= current_user.distance_to(user).round %></td>
            <td>future what's brewing</td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
