<% provide(:title, 'Dashboard') %>
<div class="center">
  <h1>Welcome <%= current_user.username %></h1>
  <div class="panel panel-default">
    <div class="panel-heading">Brewing Near You!</div>
    <div class="panel-body">
      <p>This is some filler text..closest 250 users listed</p>
    </div>
    <table class="table table-striped">
      <tr>
        <th>Username</th>
        <th>Distance (miles)</th>
        <th>What's Brewing</th>
      </tr>
      <% if @nearby != nil %>
        <% @nearby.each do |user| %>
          <% if user != current_user %>
            <tr>
              <td><%= link_to user.username, dashboard_path(user.id) %></td>
              <td><%= current_user.distance_to(user).round %></td>
              <td><% user.brew_sessions.each do |brew_session| %>
                <%= brew_session.style %></br>
              <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
