<h1>Brews for<span class="username"><%= @user.username %></span></h1>

<table>
  <tr>
    <th>Date</th>
    <th>Style</th>
    <th>Open-Brew?</th>
  </tr>

  <% @brew_sessions.each do |b_session| %>
    <tr>
      <li><%= b_session.brewing_date %></li>
      <li><%= b_session.style %></li>
      <li><%= b_session.public_private %></li>
    </tr>
  <% end %>
</table>
