<% provide(:title, 'Contact') %>
<div class="center">
  <h1>Contact</h1>
  <p>
  Hi! Please let me know if you have any questions or comments, you can find me <a href="http://twitter.com/tlreiff">@tlreiff</a></br>
  Also, the site is still under construction if you have any ideas let me know!
  </p>
</div>
