<div class="center jumbotron">
  <h1>Welcome to Who Brew</h1>

  <h2>
    Connect with fellow brewers near you!
  </h2>
    <p>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-large btn-primary" %>
      <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
    </p>
    <%= render 'layouts/google_maps' %>
</div>
